<nav>
    <a href="cliente-reservas-page" onclick="router.route(event);">Reservas</a>
    <a href="clientes-disponibilidad-page" onclick="router.route(event);">Disponibilidad</a>
    <a href=" clientes-perfil-page"onclick="router.route(event);">Perfil</a>
    <a href="invitado-home-page"onclick="router.route(event);">Salir</a>
    <!-- hacer que se ejecute signout -->
    

</nav>
</header>
<ul>
<li><b class="ok">Ok</b></li>
<li><b class="error">Error</b></li>
<li><b class="info">Info</b></li>
</ul>
<section>
<article>
    <header>
        <h2>Bienvenido Cliente</h2>
    </header>
    <p>Sistema de gestión de reserva de vehiculos para la práctica de la asignatura Tecnologias y
        Sistemas
        web</p>
    <p>Escuela superior de Ingeniería informática de albacete</p>
    <p>Universidad de Castilla-La Mancha</p>
</article>
</section>
</main>


<div>
<footer>

<p> Tecnologias y Sistemas Web</p>
</footer>
</div>
