<nav>
    
        <a href=" invitado-signup-page" onclick="router.route(event);">Registro</a>
        <a href="invitado-signin-page" onclick="router.route(event);">Ingreso</a>
        <a href="invitado-disponibilidad-page" onclick="router.route(event);">Disponibilidad</a>
    
</nav>

<ul>
    <li><b class="ok">Ok</b></li>
    <li><b class="error">Error</b></li>
    <li><b class="info">Info</b></li>
</ul>
<article>
    <header>
        <h2>Bienvenido</h2>
    </header>
    <p>Sistema de gestión de reserva de vehiculos para la práctica de la asignatura Tecnologias y
        Sistemas
        web</p>
    <p>Escuela superior de Ingeniería informática de albacete</p>
    <p>Universidad de Castilla-La Mancha</p>
</article>
