<nav>
    <a href="invitado-signin-page" onclick="router.route(event);">Ingreso</a>
    <a href="invitado-disponibilidad-page" onclick="router.route(event);">Disponibilidad</a>
</nav>
</header>
<ul>
    <li><b class="ok">Ok</b></li>
    <li><b class="error">Error</b></li>
    <li><b class="info">Info</b></li>
</ul>
<section>
    <article>
        <header>
            <h2>Registro</h2>
        </header>
        <div class="Registro">
            <form class="form" method="GET" id="signupform">
                <div class="fila">
                    <div class="columna">
                        <label for="clienteDni">DNI*:</label>
                        <input type="text" id="clienteDni" name="clienteDni" pattern="[0-9]{8}[A-Za-z]" required
                            minlength="9" maxlength="9" placeholder="Ingrese DNI">
                    </div>
                    <div class="columna">
                        <label for="clienteNombres">Nombres*:</label>
                        <input type="text" id="clienteNombres" name="clienteNombres" pattern="[A-Za-z ]{2,20}" required
                            placeholder="Ingrese nombres">
                    </div>
                    <div class="columna">
                        <label for="clienteApellidos">Apellidos*:</label>
                        <input type="text" id="clienteApellidos" name="clienteApellidos" pattern="[A-Za-z ]{2,20}"
                            required placeholder="Ingrese apellidos">
                    </div>
                </div>
                <div class="fila">
                    <div class="columna">
                        <label for="clienteEmail">Correo electrónico*:</label>
                        <input type="email" id="clienteEmail" name="clienteEmail" required placeholder="Ingrese email">
                    </div>
                    <div class="columna">
                        <label for="clienteTelefono">Teléfono*:</label>
                        <input type="tel" id="clienteTelefono" name="clienteTelefono" pattern="[0-9]+" required
                            placeholder="Ingrese teléfono">
                    </div>
                </div>
                <div class="fila">
                    <div class="columna">
                        <label for="clienteDireccion">Dirección*:</label>
                        <textarea id="clienteDireccion" name="clienteDireccion" rows="3"
                            placeholder="Ingrese dirección"></textarea>
                    </div>
                </div>
                <div class="fila">
                    <div class="columna">
                        <label for="clientePassword">Contraseña*:</label>
                        <input type="password" id="clientePassword" name="clientePassword"
                            placeholder="Ingrese contraseña" required>
                        <span class="obligatorio">*Campos obligatorios</span>
                    </div>
                    <div class="columna">
                        <label for="clientePassword2">Repita la contraseña*:</label>
                        <input type="password" id="clientePassword2" name="clientePassword2"
                            placeholder="Repita contraseña" required>
                    </div>
                    <div class="columna">
                        <label for="rol">Selecciona un rol:</label>
                        <select id="rol" name="rol">
                            <option value="Empleado">Empleado</option>
                            <option value="Cliente">Cliente</option>
                        </select>
                    </div>
                </div>
                <div class="botondiv">
                    <input class="boton" type="submit" value="Registrarse" onclick="router.controller.registrar(event);">
                </div>
                
            </form>
        </div>
    </article>
</section>