<nav>
    <a href="invitado-signup-page" onclick="router.route(event);">Registro</a>
    <a href="invitado-disponibilidad-page" onclick="router.route(event);">Disponibilidad</a>
</nav>
</header>
<ul id="estado">
    <li>
        <b class="ok">Ok</b>
    </li>
    <li>
        <b class="error">Error</b>
    </li>
    <li>
        <b class="info">Info</b>
    </li>
</ul>
<section>
    <header>
        <h2 style="text-align: left;">Ingresar</h2>
    </header>
    <div class="Ingresar">
        <form id="formularioIngresar" method="GET">

            <div class="fila">

                <div class="columna">
                    <label for="email">Email*</label>
                    <input type="text" name="email" id="email" placeholder="Ingrese direccion de correo electronico"
                        maxlength="20" required>
                </div>
                <div class="columna">
                    <label for="Contraseña">Contraseña*</label>
                    <input type="password" id="Contraseña" name="Contraseña" required>
                </div>
                <div class="columna">
                    <label for="rol">Selecciona un rol*</label>
                    <select id="rol" name="rol" required>
                        <option value="Empleado">Empleado</option>
                        <option value="Cliente">Cliente</option>
                    </select>
                </div>
            </div>

            <p style="font-weight: bold; font-size: smaller; margin-bottom: 10px;">*Campos obligatorios</p>
            <div class="butcenter">
                <input class="boton" type="submit" value="Ingresar" onclick="router.controller.ingresar(event);">
            </div>
        </form>
        <footer>
            <p> Tecnologías y Sistemas Web</p>
        </footer>
    </div>
</section>