<nav>

    <a href="empleado-reservas-page"onclick="router.route(event);">Reservas</a>
    <a href="empleado-vehiculos-page"onclick="router.route(event);">Vehiculos</a>
    <a href="empleado-perfil-page"onclick="router.route(event);">Perfil</a>
    <a onclick="router.controller.signout(event);">Salir</a>
   


</nav>
</header>
<ul id="estado">
    <li><b class="ok">Ok</b></li>
    <li><b class="error">Error</b></li>
    <li><b class="info">Info</b></li>
</ul>
<section>
    <article>
        <header>
            <h2>Bienvenido Empleado</h2>
        </header>
        <p>Sistema de gestión de reserva de vehiculos para la práctica de la asignatura Tecnologias y
            Sistemas
            web</p>
        <p>Escuela superior de Ingeniería informática de albacete</p>
        <p>Universidad de Castilla-La Mancha</p>
    </article>
</section>



<div>
    <footer>
        <p> Tecnologias y Sistemas Web</p>
    </footer>
</div>