<nav>
    <a href="invitado-signup-page" onclick="router.route(event);">Registro</a>
    <a href="invitado-disponibilidad-page" onclick="router.route(event);">Disponibilidad</a>
</nav>
</header>
<ul>
    <li><b class="ok">Ok</b></li>
    <li><b class="error">Error</b></li>
    <li><b class="info">Info</b></li>
</ul>
<section>
    <header>
        <h2>Vehículos Disponibles</h2>
    </header>
    <form id="filtroDisponibilidadForm" style="display: flex; flex-wrap: wrap; gap: 10px;">
        <label for="modelo" style="flex: 1; margin-right: 5px;">Modelo:</label>
        <input type="text" id="modelo" name="modelo" placeholder="Modelo del vehículo" style="flex: 2; width: 150px;">

        <label for="marca" style="flex: 1; margin-right: 10px; margin-left: 10px;">Marca:</label>
        <input type="text" id="marca" name="marca" placeholder="Marca del vehículo" style="flex: 2; width: 150px;">

        <input type="submit" value="Buscar" style="margin-top: 10px; padding: 2px 6px; font-size: 10px; width: 90px;" onclick="router.controller.obtenerDispo(event);">
    </form>
    
    <div class="vehiculos-disponibles">
      
    </div>
    <footer>
        <p>Tecnologías y Sistemas Web</p>
    </footer>
</section>
